#outer-dropzone {
    height: 140px;
  }
  
  #inner-dropzone {
    height: 80px;
  }
  
  .dropzone {
    background-color: #bfe4ff;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s;
    overflow: hidden;
    padding: 20px 20px 100px 20px;
    position: relative;
    width: 100%;
    z-index: -1;
  }
  
  .drop-active {
    border-color: #aaa;
  }
  
  .drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
  }
  
  .drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;
    margin: 1rem 0 0 1rem;
  
    color: #fff;
    background-color: #dc3545;
    border: solid 2px #fff;
  
    touch-action: none;
    transform: translate(0px, 0px);
  
    transition: background-color 0.3s;
  }
  
  .drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
  }

  .min-h{
    min-height:100px;
  }

 
.dropzone::after {
    color: #fff;
    content: attr(data-zone);
    display: block;
    font-size: 80px;
    line-height: 1;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.number span {
  cursor:pointer; 
}
.minus, .plus{
  width:34px;
  height:34px;
  background:#f2f2f2;
  border-radius:4px;
  padding:8px 5px 8px 5px;
  border:1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
input{
  height:34px;
  width: 100px;
  text-align: center;
  font-size: 26px;
  border:1px solid #ddd;
  border-radius:4px;
  display: inline-block;
  vertical-align: middle;
}  

